<!DOCTYPE html>
<html lang="en">
<head>
     {{>headerlinkes}}
    </head>
<body>
   {{>navbar}}

        <div class="container-fluid main_header">
          <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-10 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/error.png"  height="300vw" width="200vh"   alt="picture" class="img_fluid" title="suraj singh">
                        </figure>
                      </div>
    
                    <p>Welcome to suraj weather</p>
                    <h1>{{errorMsg}}</h1>
                       <h1>I Am  <span class="txt_clr">Trying Best</span> to make web</h1>
                       <a href="/views/index.hbs"> <Button>Go Back</Button></a>
                    </div>                 
                      </div>               
                  </div>


                </div>
              </div>
                </div></div>
{{> footer}}
   
</body>
</html>